.login {
  text-align: center;

  h1 {
    margin-bottom: 2em;
  }

  a {
    width: 150px;
    border: solid thin #b6b6b6;
    border-radius: 5px;
    text-decoration: none;
    padding: 14px 148px;
    position: relative;
    color: black;
    font-size: 16pt;

    svg {
      width: 35px;
      position: absolute;
      right: 8px;
      bottom: 8px;
    }
  }
}
